Test project for Daikin job application - (C) Chris Pockelé, 2023
***************************************


Requirements:

From: "ensure that the temperature in a room is always between a min and max adjustable temperature"

A. The software component shall have a "minimum temperature" property (unit: degrees Celsius - precision at least 0.5).

B. The software component shall have a "maximum temperature" property (unit: degrees Celsius - precision at least 0.5).

C. The software component shall have an interface to inform it of the current room temperature.


From: "When temp is too low, start heating, when temp is too high start cooling."

D. The software component has the following states:
 - heating
 - cooling
 - idling (doing nothing)

E. When the current room temperature falls below the minimum, it shall switch to the "heating" state.

F. When the current room temperature becomes higher than maximum, it shall switch to the "cooling" state.

G. REQUIREMENT(S) FOR SWITCHING TO "idling" STATE: "can add your own"
   when temperature reaches "minimum+1" (heating) or "maximum-1" (cooling)


Derived requirements:

Z. To avoid constant heating-cooling switching: maximum temperature shall be equal to or greater than "minimum temperature + 1".
  Throw an exception if this is not the case.

***********
