Test project for Daikin job application
***************************************



Hi Chris,

A test project, For this test case you need to provide us the result in git repo.

The test project description:

Tools to be used – free choice.

Requirement :  ensure that the temperature in a room is always between a min and max adjustable temperature.

         When temp is too low, start heating, when temp is too high start cooling.

How:

1- create a component in cpp + api's 

2- create needed test-cases using google test (stub, mock,..)

3- code must be build with cmake

4- code is available in a git repo

 

In case of any unclarity, don’t hesitate to contact us.

 

 

Kind regards | Met vriendelijke groeten

 

Lukas Meel

Daikin Europe NV  | Senior Recruiter

M: +(32) 470 829 728 | E: meel.l@daikineurope.com

 

Daikin Europe N.V. - Naamloze Vennootschap - Zandvoordestraat 300 - 8400 Oostende - Belgium - BTW BE 0412.120.336 - RPR Oostende

Tel: (+32)59/55 81 11 - Fax: (+32)59/55 88 99 - Web:https://www.daikin.eu

 
***********


Questions for Daikin:

Hi Lukas,

First, I'm sorry for the late reply as I have been unable to start work on this during the previous week-end.

For implementing this, I started with writing more formal and fine-grained requirements.

 - Temperature unit is not specified.  Is "Degrees Celsius OK?  Can I choose freely?
 
 - Is a precision of 1 degree enough?  Or do we need control by 0.1 or 0.5 degrees?
 
 - Can I add my own limitations, such as for example:
    "maximum temperature should be at least minimum temperature + 1": this makes it easier to avoid problems such as constant heating-cooling switching.

 - The requirements state: "When temp is too low, start heating, when temp is too high start cooling."
   It is not stated when to STOP heating or cooling.  For example, if min and max temperatures are set to 20 and 30 degrees, and the system starts heating when temperature falls below 20, when should it stop heating?  At 20, ... 25, 29, ... ?
   
 - "code is available in a git repo" - 
   I can send you an archive of my local repository, is that OK?
   Or... does it have to be a publically accessible online repository?

Best regards / vriendelijke groeten,
Chris Pockelé


***********

Hi Chris,

Degrees Celsius is ok, precision can be 0.5, you can add your own limitations of course. This is a theoretical example, not a real implementation.

The interest from our side is more on HOW C++ and object oriented principles are used than the WHAT (as in detailed requirements, spec, representative for real use case) We want to see good use/knowledge of the object oriented way of thinking with the hands on skills and syntax knowledge on C++.
During work the design can be specified by us, implementation capability is the scope of this investigation.


Kind regards | Met vriendelijke groeten
 
Lukas Meel
